.footer-primary{
  .nav-menu{
    color: $white;
    text-align: left;
  }
}

.footer-secondary{
  .icon-nav{
    a{
      color: $white;
    }
  }
}

.smu-info{
  padding-top: 7px;
  a, em{
    color: #FFFFFF;
    font-size: 11px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none;
  }
  .site-address{
    font-size: 11px;
    color: #919396;
    margin: 20px auto;
  }
}

.smu-info {
  padding-top: 7px; }
  .smu-info a, .smu-info em {
    color: #FFFFFF;
    font-size: 11px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none; }
  .smu-info .site-address {
    font-size: 11px;
    color: #919396;
    margin: 0 auto 20; }




.socials.nav-menu {
  color: #FFFFFF;
  text-align: right;
  padding-top: 7px; }
  .socials.nav-menu li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px; }
    .socials.nav-menu li a {
      color: #FFFFFF;
      font-size: 18px; }

#site-info{
	background-color: $dark-grey;
	padding: 20px;
	text-align: center;
}

.footer-primary{
  h3{
    color: $white;
    text-transform: uppercase;
    border-bottom: 2px solid #808182;
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 0;
  }
}

.footer-primary{
  padding-bottom: 45px;
  .nav-menu{
    a{
      color: $white;
    }
  }
}

.footer-secondary{
  background-color: $dark-gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

// footer

.footer-primary{
  background-color: $footer-primary-bg-color;
}

.button-section {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button-section {
  .btn {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
  }
}






@media screen and (max-width: $screen-xs-max) {
  .socials.nav-menu{
    text-align: center;
  }
}

.text-align-right{
  text-align: right;
}


@media screen and (max-width: $screen-xs-max) {
  .footer-primary{
    .nav-menu{
      margin-bottom: 25px;
    }
  }
  .footer-secondary{
    text-align: center;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .footer-secondary{
    .nav-menu{
      text-align: right;
    }
  }
}

.smu-info .site-address {
    margin: 0 auto;
}


.footer-primary {
font-size: 13px;
color: #D8D8D8;

}

.footer-primary  .nav-menu li, .nav.nav-list li {
font-size: 16px;
}

.footer-primary  .nav-menu li a {
font-size: 13px;
}

.footer-primary a {
color: #FFFFFF;
}

.footer-primary{
  .btn-default{
    color: #333;
  }
}

.footer-primary a:hover {
/*color: #FFCC66;*/
text-decoration: underline;
color: #FFFFFF;
}

@media screen and (max-width: 767px) {
.footer-primary  {
text-align:center;
}

.footer-primary .nav-menu {
text-align:center;
margin-bottom: 30px;
}
}
