$navbar-wrapper: '#ctl8';

// main nav background color

#{$navbar-wrapper}{
  background-color: $main-nav-bg-color;
}

// link color

#{$navbar-wrapper}{
  .nav{
    li{
      display: inline-block;
      > a{
        color: $main-nav-link-color;
      }
      &.open{
        > a, > a:hover, a:focus{
          color: $main-nav-bg-color;
        }
      }
    }
  }
}

// dropdown nav color

#{$navbar-wrapper}{
  .nav-collapse{
    > li.dropdown.open{
      > a{
        color: $dark-gray;
      }
    }
  }
}

// use the background color for hovered and focused links

#{$navbar-wrapper}{
  .nav > li > a:hover, .nav > li > a:focus {
    color: $main-nav-bg-color;
  }
}

// use the background color for dropdown links

#{$navbar-wrapper}{
  .nav-collapse{
    .dropdown-menu{
      li{
        a{
          color: $main-nav-bg-color;
        }
      }
    }
  }
}

// the position and width of the drodown menus

#{$navbar-wrapper}{
  .nav-collapse{
    .dropdown-menu{
      margin-top: -1px;
      margin-left: -1px;
      width: auto;
    }
  }
}

// the navbar control sometimes places a home icon next to the primary link item

#{$navbar-wrapper}{
  .nav-collapse{
    .nav{
      li{
        i.icon-home{
          @extend .fa;
        }
      }
    }
  }
}

// use the pointer cursor instead of the default copy

#{$navbar-wrapper}{
  .nav-collapse{
    li.dropdown:hover{
      cursor: pointer;
    }
  }
}

// #{$navbar-wrapper}{
//   .nav-collapse{
//     > li{
//       &:first-child{
//         > a.dropdown-toggle{
//           padding-left: 0;
//         }
//       }
//     }
//   }
// }

// The default navbar control includes a hard coded dropdown menu with social media icons.
// We use font awesome scss to upgrade the icons since the old library is depricacated

.dropdown-menu.social{
  margin-top: 0;
  a{
    display: inline;
    em{
      @extend .fa;
      color: $main-nav-bg-color;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {

  // hide the main navbar until the .in class is added to the element. This creates the collapse animation

  #{$navbar-wrapper}{
    .nav-collapse{
      height: 0;
      overflow: hidden;
      &.in{
        height: auto;
        overflow: visible;
      }
    }
  }

  #{$navbar-wrapper}{
    .nav-collapse{
      .dropdown-menu{
        margin-top: 0;
        width: 100%;
      }
    }
  }

  #{$navbar-wrapper}{
    .nav-collapse{
      .nav{
        li{
          display: block;
          margin: 0;
        }
      }
    }
  }

  .dropdown-menu.search{
    left: -25px;
    margin-top: 0;
    padding: 0;
    .form-search{
      display: block;
    }
    input{
      border: 8px solid #f3f3f4;
      padding: 5px;
    }
  }

  #ctl8{
    .mini-nav{
      text-align: center;
    }
  }

}
