.header-secondary{
  background-color: $secondary-nav-bg;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-secondary{
  .nav-menu{
    padding: 1px 0 5px;
    li{
      color: $secondary-nav-link-color;
    }
    a{
      font-size: 12px;
      color: inherit;
    }
  }
}

.header-secondary{
  .dropdown-menu{
    border-radius: 0;
    margin-top: 5px;
    background-clip: inherit;
    border-color: $white;
  }
}

.header-secondary{
  .dropdown-menu{
    li{
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}

.header-secondary{
  .dropdown-menu{
    a{
      color: #373a3c;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .header-secondary{
    text-align: center;
  }
  .header-secondary{
    .nav-menu{
        &.inline-nav{
        > li{
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }
  }
  .header-secondary{
    .nav-menu{
      a{
        font-size: 11px;
      }
    }
  }
  .header-secondary{
    .dropdown-menu{
      left: auto;
      right: 0;
    }
  }
  .form-search{
    display: none;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
  .header-secondary .nav-menu{
    li,a{
      font-size: 10px;
    }
  }
  .nav-menu.inline-nav li {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
  }
}
