// font-awesome icons

.icon-home{
  @extend .fa-home;
}
.icon-facebook{
  @extend .fa-facebook;
}
.icon-facebook-sign{
  @extend .fa-facebook-official;
}
.icon-twitter{
  @extend .fa-twitter;
}
.icon-instagram{
  @extend .fa-instagram;
}
.icon-linkedin{
  @extend .fa-linkedin;
}
.icon-youtube{
  @extend .fa-youtube;
}
.icon-youtube-play{
  @extend .fa-youtube-play;
}
.icon-ellipsis-horizontal{
  @extend .fa-book;
}
.icon-search{
  @extend .fa-search;
}
.icon-chevron-left{
  @extend .fa-chevron-left;
}
.icon-chevron-right{
  @extend .fa-chevron-right;
}
.icon-facetime-video{
  @extend .fa-video-camera;
}
.icon-rss{
  @extend .fa-rss;
}
.icon-google-plus{
  @extend .fa-google-plus;
}
.icon-music{
  @extend .fa-music;
}
.icon-list-ul{
  @extend .fa-list;
}
