@media (min-width: 400px) {
  .smuLogo, .logo{
    img{
      max-width: 320px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .smuLogo, .logo{
    img{
      margin: 0 auto;
    }
  }
}

@media (max-width: $screen-sm-max) {
  footer{
    .logo{
      img{
        margin: 0 auto;
      }
    }
  }
}
