.masthead{
  color: $white;
}

.masthead{
  .nav-menu{
    color: $white;
  }
}

.smuSocialMedia{
  @extend .hidden-xs;
  @extend .hidden-sm;
  .nav-menu{
    li{
      margin: 3px;
    }
  }
}

.search-form-wrapper{
  position: relative;
  input, .input-group-addon{
    border-radius: 0;
    font-size: 13px;
  }
  .input-group-addon{
    border-color: transparent;
    background-color: #f3f3f4;
    i{
      font-size: 16px;
    }
  }
  .form-inline{
    .form-group{
      border: 8px solid #f3f3f4;
      border-right-width: 0;
      background-color: #f3f3f4;
    }
  }
}

#{$masthead}{
  background-color: $smu-blue;
  padding-top: 15px;
  padding-bottom: 15px;
}
