.nav-menu{
  margin: 0;
  padding: 5px 0;
}

.nav-menu{
  li{
    list-style: none;
  }
}

.nav-menu{
  > li{
    > a{
      color: inherit;
    }
  }
}

.inline-nav{
  > li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    &:first-child{
      margin-left: 0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}

.icon-nav{
  a{
    font-size: 18px;
    em{
      color: inherit;
    }
  }
  &.inline-nav{
    @extend .inline-nav;
  }
}


.nav-menu{
  &.text-align-right{
    .dropdown-menu{
      left: auto;
      right: 0;
    }
  }
}

.dropdown{
  .dropdown-menu{
    border-radius: 0;
    margin-top: 10px;
    li{
      display: block;
      margin: 0;
      width: 100%;
    }
    > li > a{
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

@media (max-width: $screen-sm-max){
  .dropdown{
    > li{
      > a{
        white-space: normal;
      }
    }
  }
}
