#{$mobile-nav}{
  @media screen and (min-width: $screen-sm-max){
    display: none;
  }
}

.smuTopNav .nav li a span.fa {
margin-right: 5px;
font-size: 16px;
}

.dropdown .dropdown-menu li.firstItem a  {
  font-weight: 700;
}

.smuTopNav{
  .dropdown-menu{
    li{
      p{
        display: none;
      }
    }
  }
}

.smuTopNav{
  li{
    a{
      font-size: .75em;
    }
  }
}

.mini-nav{
  .dropdown:nth-child(3){
    display: none;
  }
}
