.nav.nav-list{
  @extend .nav-menu;
}


#smuSideNav{
  .nav.nav-list{
    .nav-header{
      background-color: $main-nav-bg-color;
      color: $white;
      a {
        color: inherit;
        &:hover{
          color: $dark-gray;
        }
      }
    }
  }
}

#smuSideNav{
  .nav.nav-list{
    .nav-header{
      a {
        color: inherit;
        &:hover{
          color: $dark-gray;
        }
      }
    }
  }
}

#smuSideNav {
-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.3);
font-size: .9em;
margin-bottom: 20px;
}


#smuSideNav .nav.nav-list {
padding: 0;

}

#smuSideNav .nav.nav-list li a {
    background-color: #f6f6f6;
    border-bottom: 1px solid #dedede;
font-size: .9em;
}

#smuSideNav .nav.nav-list li a:hover {
    background-color: #f1f1f1;
}

#smuSideNav .nav.nav-list li.active a {
background-color: #354ca1;
color: #FFFFFF;
font-weight: 400;
}

#smuSideNav .nav.nav-list li a strong {
font-weight: 400;
}

#smuSideNav .nav.nav-list li.active a:hover {
background-color: #2c408a;
}
#smuSideNav .nav.nav-list .nav-header a {
    background-color: #404041;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: .9em;
border-bottom: transparent;
}
#smuSideNav .nav.nav-list .nav-header a:hover {
 background-color: #505051;
color: #FFFFFF;
}
