div#titleWrapper {
  .departmentName {
      color: #333333;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 24px;
      margin-bottom: 0;
      border-bottom: 1px solid #dddddd;
  }
}

.headerBar{
  @extend .img-responsive;
  width: 100%;
}

.headerBarMobile{
  width: 100%;
}

.breadcrumb{
  background-color: transparent;
  li, a{
    font-size: 11px;
  }
  .divider{
    display: none;
  }
}

#titleWrapper{
  h1{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 22px;
  }
}
