@media print {
  .header-secondary, .search-form-wrapper, .footer-primary, .footer-secondary .col-sm-6.col-md-4:last-child {
    display: none !important; }
  .smuFixedTop#ctl3 {
    background-color: #cccccc !important;
    padding-bottom: 0; }
  .logo {
    font-size: 0; }
  .span9 > .row div[class^="span"],
  .span9 > .row div[class^="col-"] {
    width: 100%; } }
