﻿@charset "utf-8";

@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css";
@import "https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css";
/*-----------------------------------------------------
     The above imports the FONT AWESOME ICONS
----------------------------------------------------- */

/*-----------------------------------------------------
     The code below references our custom Peruna icon
----------------------------------------------------- */


@font-face {
	font-family: 'Peruna';
	src:url('/bootstrap/fonts/Peruna.eot');
	src:url('/bootstrap/fonts/Peruna.eot?#iefix') format('embedded-opentype'),
		url('/bootstrap/fonts/Peruna.woff') format('woff'),
		url('/bootstrap/fonts/Peruna.ttf') format('truetype'),
		url('/bootstrap/fonts/Peruna.svg#Peruna') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-peruna  {
	font-family: 'Peruna';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-peruna:before {
	content: "\e000";
}



/* CSS Document */

/*-----------------------------------------------------
    IMPORTANT NOTE
    WHEN UPDATING BOOTSTRAP.CSS

    REMEMBER TO COMMENT OUT THE FOLLOWING LINE OF CODE
    IN BOOTSTRAP.CSS
    FOR PROPER DISPLAY OF NAVBAR IN OUR FRIEND INTERNET EXPLORER

    .navbar-inner {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
    }
----------------------------------------------------- */



/*-----------------------------------------------------
      page structure, template element sizes 
----------------------------------------------------- */


body {
	height: 100%;
	background-image: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4fbff+0,f4fbff+35,f4fbff+49,c7d8ed+100 */
	background: rgb(244,251,255); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(244,251,255,1) 0%, rgba(244,251,255,1) 35%, rgba(244,251,255,1) 49%, rgba(199,216,237,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(244,251,255,1) 0%, rgba(244,251,255,1) 35%, rgba(244,251,255,1) 49%, rgba(199,216,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, rgba(244,251,255,1) 0%, rgba(244,251,255,1) 35%, rgba(244,251,255,1) 49%, rgba(199,216,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#c7d8ed', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	/* old darker background gradient colors - phasing out feb 2016 */
	/*background: rgb(244,251,255);*/ /* Old browsers */
	/*background: -moz-radial-gradient(center, ellipse cover, rgba(244, 251, 255, 1) 0%, rgba(244, 251, 255, 1) 35%, rgba(244, 251, 255, 1) 49%, rgba(123, 165, 216, 1) 100%);*/ /* FF3.6+ */
	/*background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(244, 251, 255, 1)), color-stop(35%, rgba(244, 251, 255, 1)), color-stop(49%, rgba(244, 251, 255, 1)), color-stop(100%, rgba(123, 165, 216, 1))); *//* Chrome,Safari4+ */
	/*background: -webkit-radial-gradient(center, ellipse cover, rgba(244, 251, 255, 1) 0%, rgba(244, 251, 255, 1) 35%, rgba(244, 251, 255, 1) 49%, rgba(123, 165, 216, 1) 100%);*/ /* Chrome10+,Safari5.1+ */
	/*background: -o-radial-gradient(center, ellipse cover, rgba(244, 251, 255, 1) 0%, rgba(244, 251, 255, 1) 35%, rgba(244, 251, 255, 1) 49%, rgba(123, 165, 216, 1) 100%); *//* Opera 12+ */
	/*background: -ms-radial-gradient(center, ellipse cover, rgba(244, 251, 255, 1) 0%, rgba(244, 251, 255, 1) 35%, rgba(244, 251, 255, 1) 49%, rgba(123, 165, 216, 1) 100%);*/ /* IE10+ */
	/*background: radial-gradient(center, ellipse cover, rgba(244, 251, 255, 1) 0%, rgba(244, 251, 255, 1) 35%, rgba(244, 251, 255, 1) 49%, rgba(123, 165, 216, 1) 100%); *//* W3C */
 /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#7ba5d8', GradientType=0 );*/ /* IE6-9 fallback on horizontal gradient */
	padding-bottom: 0; /* removes padding on bottom of body so new footer can be at bottom of page*/
	/* overrides the 14px default in BootstrapCDN*/
	font-size: 13px;
}


img {
	height: auto;	
}

label {
  /*override bootstrap.css label specifications so that labels appear alongside checkboxes and radio buttons*/
    display: inline;
    margin-bottom: 5px;
    margin-left: 5px;
}

form#mainform {
        /* sitecore turns pages into forms - so must counteract the 
		bootstrap margin declaration on forms
        so there isn't a gap at the bottom of the page after the footer */
        margin-bottom: 0;
}

.container-fluid {
	/* keeps standard bootstrap 940 content width, but adds 20px padding around the sides 
		so we can set apart the content area from the background. 
		The width here also corresponds to silverbullet's 980 overall content area width. */
	max-width:940px;
	margin: 0 auto;
	padding:0 20px;
}
.smuFixedTop {
	/*creates our masthead area with backgrounds and such, fixed to the top of the page*/
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	height:50px;



  background-color: #163B8C;
	background-image: url("/bootstrap/images/MastheadGradientBG.jpg");
	background-repeat: repeat-x;
background-position: bottom;
}
.masthead, .smuTopNav {
	/* sets max width of our masthead slightly wider than default for this area*/
	/*max-width:980px;*/ 
	padding:0px;
}

.smuLogo img {
/* changed from default vertical-align of "middle" so that department names next to the logo
line up properly */
        vertical-align: top;
        float: left;
}

.navbar-inner {
	/*creates our navigation bar area*/
	background-image:url("/bootstrap/images/NavigationGradientBG.jpg");
	background-repeat: repeat-x;
	background-color: #5E84BE;
	min-height:30px; /*overrides 40px min-height in bootstrap.css*/
filter:progid:DXImageTransform.Microsoft.gradient(enabled = false) !Important;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
/* removes bottom 1px white border */
    border-width: 0;
}


ul.dropdown-menu {
	/*Makes default dropdown menu width a little wider than default*/
	min-width: 190px;	
}
ul.dropdown-menu p {
	/*For optional text areas inside our dropdown menus*/
    background-color: #F3F3F3;
    border-radius: 4px;
    color: #5E84BE;
    font-size: 11px;
    line-height: 15px;
    margin: 10px 10px 10px 15px;
    padding: 5px 10px;
	box-shadow: 0 0 3px #DDD;
}
ul.dropdown-menu p a {
		/*For optional text areas inside our dropdown menus*/
display: inline;
	color: #116FD6;
	clear: none;
	padding: 0;
	white-space:inherit;
	line-height:inherit;
}
 .navbar ul.nav li.dropdown ul.dropdown-menu li:first-child a {
/* adds special styling to first, or "home," item in dropdowns, to differentiate
it from other links underneath. */
/* not using this currently. */
	/*font-size: 13px;
	font-weight: bold;	
	text-transform: uppercase;
	background-color: #EFEFEF;*/
}

 .navbar ul.nav li.dropdown ul.dropdown-menu li:first-child a:hover {
	 /* adds special styling to first, or "home," item in dropdowns, to differentiate
it from other links underneath. */
/* not using this currently. */
	/*background-color: #0088CC;	*/
}

.navbar .nav > li > a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.navbar .nav li.dropdown > .dropdown-toggle .caret {
/* changes the default on the dropdown carets to white, not dark gray*/
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.caret {
/* changes the default on the dropdown carets to translucent, not opaque*/
    opacity: 0.3;

}

.dropdown:hover .caret, .open .caret {
/* changes the default on the dropdown carets to hover white*/
    opacity: 1;
}

.navbarSecondary {
/* creates an optional secondary navbar under the first. to implement, use this class in a widget. */
  background-color: #777777;
    height: 35px;
    margin: 0 -20px;
    padding: 0 20px;
}

.navbar.navbarSecondary .nav > li > a {
padding: 7px 25px;
}


#smuContentWrapper {
	/* wraps content area. adds white background and drop shadow, as well as
	top margin so content starts at bottom of masthead/nav area, rather than underneath it */
	margin:83px auto 0 auto;
	max-width: 980px;
background-color: #FFFFFF;
padding-bottom: 20px;
}
/*-----------------------------------------------------
      default overrides and classes to help style stuff 
----------------------------------------------------- */
p {
	/* overrides bootstrap's default p-margin, loosens it up a smidge */
margin: 0 0 12px;
}

small {
    font-size: 85%;
display: block;
    line-height: 1.3em;
}



.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
}


h1, h2 {
	/* adds a little pizzazz to our H1s and H2s */
    color: #CC0035;
	font-weight: 200;
}
a {
	color: #116FD6;	/* our custom color */
}
a:hover {
	color: #CC0035;	/* our custom color */
}
.introParagraph {
	/* jazzy style for first paragraph of a page, or any paragraph needing to be larger than normal.
	this is essentially the same style as bootstrap's built-in "lead" class, which is what we will use
	in most cases instead of this.	*/
	font-size: 17px;
	line-height: 26px;
}
.imageRight, img.pull-right {
	/* floats any image to the right, and adds margins*/
	float: right;
	margin: 5px 0 20px 20px;
}



.imageLeft, img.pull-left {
	/* floats any image to the left, and adds margins*/
	float: left;
	margin: 5px 20px 20px 0;
}
div.twoColumns {
	/* applies a dynamic two-column layout to any elements it surrounds.*/
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
}
.nav-pills > li > a {
	/*changes background color on a set of navigation "pills" */
	background-color: #E9E9E9;
}
.smuTopNav .nav > li > a:hover {
	/*changes text and background color of main navbar on hover */
	background-color: #5E84BE;
	color: #FC6;
}


.alert {
	/* changes default alert style */
	margin: 13px 20px;	
	padding: 15px 35px 15px 15px;
color: #333;
}

.alert p {
	/* changes default alert style */

font-size: 18px;	
line-height: 27px;
margin-bottom: 12px;
}

.alert-danger, .alert-error {
	/* changes default alert style */

    background-color:	 #CC0035;
    border-color: #B10000;
    color: #FFFFFF;
}

.label-important, .badge-important {
	/* changes red label and badge color */
    background-color: #CC0035;
}

.smuError, .hero-unit p.smuError  {
    margin: 0;
    font-weight: bold;
    color: #CC0035;
    font-size: 18px;
    line-height: 27px;
}


.scfForm {
        /* changes default font on sitecore's webforms */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

span.anchor, a.anchor, a[name] {
     /* this is for jump links, so they don't get covered up
        by our fixed header. instead of [a name="linkname"], 
        format jump links like this:
        [span class="anchor" id="linkname"]  */
    display: block;
    height: 83px;
    margin-top: -83px;
    visibility: hidden;
}


.carousel-control {
	/*custom controls for default image carousel slider*/
  position: absolute;
	top: 90%;
	left: 15px;
	height: 13px;
	width: 45px;
	padding: 5px;
	margin-top: -20px;
	color: #777;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	background: #EEE;
	border: 1px solid #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	opacity: .9;
	filter: alpha(opacity=90);
}
.carousel-control:hover {
	color: #CC0035;
	background: #DDD;
}

.carousel-controlBootstrap {
	/*for when we want to use default Bootstrap styles on carousel controls*/
  position: absolute;
	top: 40%;
  margin-top: -20px;
  text-align: center;
	left: 15px;
	height: 40px;
	width: 40px;
	padding: inherit;
	color: #fff;
	font-size: 60px;
	font-weight: 100;
	line-height: 30px;
	background: #222;
	border: 3px solid #FFF;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: .5;
	filter: alpha(opacity=50);
}
.carousel-controlBootstrap:hover {
	/*for when we want to use default Bootstrap styles on carousel controls*/
 	color: #FFF;
	background: none;
}
.carousel-controlBootstrap.right {
  left: auto;
  right: 15px;
}



.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
/* the default bootstrap color for this is too light to really be seen */
  background-color: #efefef;
}


/*-----------------------------------------------------
      CHANGES TO "THE WELL" 
----------------------------------------------------- */

.well {
	/* changes default styling on "the well", which is like a callout box */
	margin: 15px 0;
	-webkit-box-shadow: 0px 0px 10px 0px #CCC;
	-moz-box-shadow: 0px 0px 10px 0px #CCC;
	box-shadow: 0px 0px 10px 0px #CCC;
	color: #666;
}
.well p {
	/* changes default styling on p tags inside a well */
	font-size: 97%;
	line-height: 130%;
	margin: 7px 0;
}
.wellRight {
	/* use along with class .well, to float the thing to the right of the copy. 
	     it'll size itself to the width of your content. 
             to set a fixed width on it, use an inline style */
	float: right;
	margin: 5px 0 15px 15px;
}

.wellLeft {
	/* use along with class .well, to float the thing to the left of the copy. 
	     it'll size itself to the width of your content. 
             to set a fixed width on it, use an inline style */
	float: left;
	margin: 5px 15px 15px 0;
}

.well img {
	/*makes images inside well containers shrink to fit as viewport decreases in size*/
	max-width: 100%;
}

.well a.btn {
	margin: 10px auto;
}

/*-----------------------------------------------------
      CHANGES TO BUTTONS 
----------------------------------------------------- */
.btn-right {
	/*floats element to the right*/
	float:right;
}
.btn-danger {
	/*changes default warm red color of this button to SMU red*/
    background-color: #DA4F49;
	background-image: -moz-linear-gradient(center top, #CC0035, #96001B);
	background-image: -webkit-linear-gradient(top, #CC0035, #96001B);
  background-image: -ms-linear-gradient(top, #CC0035, #96001B);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CC0035), to(#96001B));
  background-image: -o-linear-gradient(top, #CC0035, #96001B);
  background-image: linear-gradient(top, #CC0035, #96001B);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC0035', endColorstr='#96001B', GradientType=0);
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	/*changes default warm red color of this button to SMU red*/
    background-color: #96001B;
}


.btn-smublue {
	/*custom SMU blue button*/
    background-color: #0055CC;
	background-image: -moz-linear-gradient(center top, #0055CC, #14398A);
	background-image: -webkit-linear-gradient(top, #0055CC, #14398A);
  background-image: -ms-linear-gradient(top, #0055CC, #14398A);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0055CC), to(#14398A));
  background-image: -o-linear-gradient(top, #0055CC, #14398A);
  background-image: linear-gradient(top, #0055CC, #14398A);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055CC5', endColorstr='#14398A', GradientType=0);
color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-smublue:hover, .btn-smublue:active, .btn-smublue.active, .btn-smublue.disabled, .btn-smublue[disabled] {
	/*custom SMU blue button*/
    background-color: #14398A;
color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#smuSideNav .nav > li > a.btn, #smuSideNav .nav > li > a.btn:hover {
text-align: inherit;/* aligns text left instead of center */

}

/* returns hover color of buttons in sidenav to their bootstrap defaults*/
#smuSideNav .nav > li > a.btn-success:hover {
    background-color: #51A351;
}

#smuSideNav .nav > li > a.btn-danger:hover {
    background-color: #96001B; /* smu default red, not bootstrap*/
}

#smuSideNav .nav > li > a.btn-primary:hover {
    background-color: #0055CC;
}

#smuSideNav .nav > li > a.btn-warning:hover {
    background-color: #F89406;
}

#smuSideNav .nav > li > a.btn-info:hover {
    background-color: #2F96B4;
}

#smuSideNav .nav > li > a.btn-inverse:hover {
   background-color: #222222;
}

#smuSideNav .nav > li > a.btn-smublue:hover {
    background-color: #14398A;
}



/*-----------------------------------------------------
      MASTHEAD SEARCH BOX AND SOCIAL MEDIA
----------------------------------------------------- */

.searchSocial {
	text-align: right;
}
.searchposition {
	/*pads our search box a bit so it appears vertically centered in masthead*/
	padding:5px 0 5px;
}
.smuSocialMedia {
	/* helps center the social media icons vertically in the blue bar*/
	margin-top: 17px;
}

.smuSocialMedia a i {
	color: #FFFFFF;
	font-size: 18px;
opacity: .85;
}

.smuSocialMedia a:hover {
	opacity: .6;
	text-decoration: none;
	}

.smuSearch {
	/* right-aligns the search box, and adds space on the left*/
	float:right;
	margin-left: 20px;
		margin-top: 6px;
}
  /* .smuSearch div.form-search input {
      makes the search box appear at proper height - not sure why it's defaulting to too short and narrow - must fix later
	height: 24px;
}*/

button#sa2 i {
	/*sets size of search icon in masthead*/
	font-size: 16px;	
}



/* the following styles add a little flair to the search box */
.navbar-search .search-query {
	background-color: #AAB0B1;
}

input.search-query {
    border-radius: 3px 0 0 3px;
}


.navbar-search .search-query:-moz-placeholder {
 color: #FFFFFF;
}

/*-----------------------------------------------------
      CHANGES TO RESPONSIVE NAV MENU
----------------------------------------------------- */
/* the following styles change the default for the collapsible nav menu button on narrow viewports */
.smuTopNav .btn-navbar {
	background-color: transparent;
	background-image: none;
	background-repeat: repeat-x;
	border: 0px none transparent;
    font-size: 11px;
	line-height: 11px;
	padding: 0px;
	color: #FFFFFF;
	text-shadow:none;
	box-shadow: none;
}
.navbar .smuTopNav .btn, .navbar .smuTopNav .btn-group {
	margin-top: 0px;
	margin-bottom: 5px;
}
.smuTopNav .btn-navbar:hover, .smuTopNav .btn-navbar:active, .smuTopNav .btn-navbar.active, .smuTopNav .btn-navbar.disabled, .smuTopNav .btn-navbar[disabled], .smuTopNav .btn-navbar:active, .smuTopNav .btn-navbar.active {
	background-color: transparent;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
	color: #ffcc66;
	text-decoration: none;
	background-color: #395ea4;
}
.navbar-fixed-top {
	top: 50px;

}
.navbar-fixed-top .navbar-inner {
	padding: 0;
}
.navbar .nav > li > a {
	color: #FFFFFF;
	padding: 7px 10px;
}
.navbar .nav > li > a:hover {
	color: #FC6;
}

.nav{
/*this is a fix for mobile menu width in IE - without this it turns white at 767px
    background-color:#5E84BE;
    background-image: url(/bootstrap/images/NavigationGradientBG.jpg);
    background-repeat: repeat-x;*/
}

/*-----------------------------------------------------
    ALTERNATE STYLES FOR LISTS  
----------------------------------------------------- */
 ul.alt {
	padding:0;
	margin:0 0 20px 0;
}
ul.alt li {
	list-style-type:none;
	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc;
	margin:0 0 -1px 0;
	padding:10px 0 10px 15px;
}

ul.checks, ul.stars {
        margin: 0 0 20px 5px;
        padding: 0;
        text-indent: -21px;
}

ul.checks li, ul.stars li {
	list-style-type:none;
	margin:0;
        padding:2px 0 5px 15px;
}

ul.checks li:before { 
  font-family: FontAwesome;
content: "\f00c \ "; 
margin-left: 5px;
}
ul.stars li:before { 
  font-family: FontAwesome;
content: "\f005 \ "; 
margin-left: 5px;
}
/*ul.alt li:before { 
  font-family: FontAwesome;
content: "\f0da \ "; 
margin-left: 5px;
}*/

li.indent {
     padding-left: 15px;
}


/*-----------------------------------------------------
    TITLE AREA: DEPARTMENT NAME, 
	PHOTO BAR, BREADCRUMB  
----------------------------------------------------- */
#titleWrapper {
	
}

#titleWrapper img {
	padding: 0;
	max-width: 980px;
	margin-bottom: 0px;
	margin-left: -20px;
}

#titleWrapper h1 {
	/*used for page title*/
	margin: 0 0 15px;
}

#titleWrapper h3 {
/* used for page subtitle */
font-weight: 400; 
color: #777; 
margin-bottom: 15px; 
font-size: 20px;
margin-top: -5px;
}

#titleWrapper p.departmentName  {
	/* department name bar at very top of page */
	font-weight: 400;
	font-size: 20px;
    line-height: 24px;
	color: #FFF;
	background-color: #CC0035;
	padding: 8px 20px 12px 20px;
	margin: 0 -20px 0px;
	text-align:center;
	background-image: -moz-linear-gradient(center top, #CC0035, #B10000);
}
/* four variations on department name bar background that users can choose from */
#titleWrapper p.departmentName.gold {
	background-color: #ECC87A;
	background-image: -moz-linear-gradient(center top, #ECC87A, #e4af3f);
}
#titleWrapper p.departmentName.blue {
	background-color: #354CA1;
	background-image: -moz-linear-gradient(center top, #354CA1, #24346e);
}
#titleWrapper p.departmentName.gray {
	background-color: #5A6571;
	background-image: -moz-linear-gradient(center top, #5A6571, #3c434b);
}
#titleWrapper p.departmentName.khaki {
	background-color: #9D9B86;
	background-image: -moz-linear-gradient(center top, #9D9B86, #7b7964);
}

.breadcrumb {
	/* changes default styles on breadcrumb */
	margin: 5px 0 10px;
    padding: 0px 5px;
	font-size: 11px;
	color: #999;
	border-width: 0px;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
		border-bottom: 1px dotted #ccc;
		border-radius: 0px;

}

/*-----------------------------------------------------
    SORTABLE TABLE
----------------------------------------------------- */

/* sortable */
table.sortable {
	border:1px solid #ddd;
}
table.sortable thead th {
	cursor: pointer;
	position:relative;
	top:0;
	left:0;
	border-right:1px solid #ddd;
}
table.sortable thead th:hover {
	background:#efefef;
}
table.sortable span.arrow {
	border-style:solid;
	border-width:5px;
	display:block;
	position:absolute;
	top:50%;
	right:5px;
	font-size:0;
	border-color:#ccc transparent transparent transparent;
	line-height:0;
	height:0;
	width:0;
	margin-top:-2px;
}
table.sortable span.arrow.up {
	border-color:transparent transparent #ccc transparent;
	margin-top:-7px;
}

/*-----------------------------------------------------
    RIGHT SIDE NAVIGATION AREA
----------------------------------------------------- */
#smuSideNav {
	background-color: #EDEDE5;
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 20px;
	padding: 0 10px 10px;
}
#smuSideNav .nav-header.home {
font-size: 13px;
	padding: 10px 5px 5px;
	text-transform: uppercase;
}

#smuSideNav .nav-list .divider {
		background-color: #D1D1BD;
		border-bottom: 1px solid #F4F4EF;
}
#smuSideNav .nav-header.home a {
	color: #999;
	font-weight: bold;
}
#smuSideNav .nav-header.home a:hover {
	color: #CC0035;
	text-decoration: none;
}

#smuSideNav .nav > li > a:hover {
	background-color: #DFDFD1;	
}

/*-----------------------------------------------------
    FOOTER AREA    
----------------------------------------------------- */
footer {
    background-color: #EDEDE5;
	margin-top: 0px;
	width:100%;
}

footer .container-fluid {
	margin-top: 0;
}
#smuFooter {
	padding: 40px 0 30px;
	font-size: 13px;
	color: #666;
}

#smuFooter p {
	margin: 0;
	padding: 0;
}
#smuFooter #logo {
	float: left;
	margin: 0 15px 0 0;
}
#smuFooter #copyright {
	float: left;
	text-align: left;
	line-height: 18px;
}
#smuFooter #links {
	line-height: 130%;
	text-align: right;
}
#smuFooter #links ul li {
	display:inline;
	margin-left: 10px;
}
#smuFooter a {
	color:#666;
	font-weight:normal;
}
#smuFooter a:hover {
	color: #CC0035;
}
#smuFooter .identity {
	margin-bottom: 20px;
}

#smuFooter #copyright a i {
	font-size: 16px;
}

/*-----------------------------------------------------
      Welcome Message widget
	  An image or slideshow
	  with a static message overlay.
----------------------------------------------------- */

#welcomeWrapper {
		position: relative;
		margin: 20px 0;
		font-family: Arial, Helvetica, sans-serif;
		
}
#welcomeWrapper img {
	max-width: 100%;
}

#welcomeMessage {
    position: absolute;
	left: 15px;
    bottom: 15px;
    width: 300px;
	max-width: 100%;
padding: 20px 20px 10px 20px;
	overflow:visible;
	border-radius: 8px;
background: #cc0035; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #cc0035 0%, #9e0017 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cc0035), color-stop(100%,#9e0017)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #cc0035 0%,#9e0017 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #cc0035 0%,#9e0017 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #cc0035 0%,#9e0017 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #cc0035 0%,#9e0017 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0035', endColorstr='#9e0017',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
 
 #welcomeMessage p {
	 	color: #FFF;
	font: bold 13px/16px Helvetica, Arial, sans-serif;
 }
 
#welcomeMessage h3 {
	color: #FFF;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	text-align:center;
	line-height: 28px;
}


#welcomeMessage a {
	color: #FC6;
	font-weight: bold;
	text-decoration: none;
}
#welcomeMessage a:hover {
	color: #FFF;
}

#welcomeMessage a.btn, #welcomeMessage a.btn:hover {
	color: #333;
	font-weight: normal;
}

/*-----------------------------------------------------
     Nivo slider marquee widget
	 with thumbnails displayed
----------------------------------------------------- */
.marqueeThumbnails #slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}
.marqueeThumbnails .slider-wrapper { 
/* this puppy goes edge to edge, it's 980px wide, and it overrides the 20px left and right padding on the container-fluid div that it sits in.*/
	width: 980px;
	margin-top: 20px;
	height: 350px;
margin-left: -20px;
}
.marqueeThumbnails .theme-default .nivoSlider {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.marqueeThumbnails .theme-default .nivo-controlNav {
	text-align: left;
	padding: 0;
	position: relative;
	top: -56px;
	z-index: 1000;
}
.marqueeThumbnails .theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	width: 65px;
}

/*-----------------------------------------------------
     LEGACY STYLES FROM OLD'N'UGLY TEMPLATE
     THAT STILL NEED TO BE INCLUDED HERE
     IN THE INTEREST OF NOT HAVING TO CHANGE HTML 
     ON EVERY SINGLE PAGE WE CONVERT
----------------------------------------------------- */

.sideBar {
    background: none repeat scroll 0 0 #F1F1F1;
    display: inline;
    float: right;
    line-height: 18px;
    margin: 5px 0 15px 15px;
	-webkit-box-shadow: 0px 0px 10px 0px #CCC;
	-moz-box-shadow: 0px 0px 10px 0px #CCC;
	box-shadow: 0px 0px 10px 0px #CCC;
	color: #666;
background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
min-height: 20px;
    padding: 19px;
}

.sideBar p {
	font-style:italic;
	font-size: 97%;
	line-height: 130%;
	margin: 7px 0;
}


/*-----------------------------------------------------
     CAROUSEL FADE OPTION added by BA  
----------------------------------------------------- */

.carousel .item { -webkit-transition: .7s ease-in-out opacity; -moz-transition: .7s ease-in-out opacity; -ms-transition: .7s ease-in-out opacity; -o-transition: .7s ease-in-out opacity; transition: .7s ease-in-out opacity; left: 0 !important; }

.carousel .active.left, .carousel .active.right { opacity: 0; z-index: 2; }

/*--- ...and only if you're using the prev/next buttons ---*/

.carousel .next.left, .carousel .prev.right {
opacity: 1; z-index: 1;
}



/*-----------------------------------------------------
     MEDIA LIST FROM NEXT VERSION OF BOOTSTRAP added by KS  
----------------------------------------------------- */

.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media-heading {
  margin: 0 0 5px;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  margin-left: 0;
  list-style: none;
}

/*-----------------------------------------------------
     CAROUSEL WITH DOT INDICATORS FROM NEXT VERSION OF BOOTSTRAP added by KS
----------------------------------------------------- */


.carousel-indicators{position:absolute;top:15px;right:15px;z-index:5;margin:0;list-style:none;}.carousel-indicators li{display:block;float:left;width:10px;height:10px;margin-left:5px;text-indent:-999px;background-color:#ccc;background-color:rgba(255, 255, 255, 0.25);border-radius:5px;}
.carousel-indicators .active{background-color:#fff;}




/*-----------------------------------------------------
     PANELS FROM NEXT VERSION OF BOOTSTRAP added by KS   
----------------------------------------------------- */


.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #dddddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #dddddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #dddddd;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dddddd;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dddddd;
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;
}



/*-----------------------------------------------------
      OVERRIDES FOR DEFAULT WEBFORMS STYLES added by KS

      !important declaration must be added here because 
      webforms css is always called after this stylesheet.
----------------------------------------------------- */

.scfSectionBorderAsFieldSet {
    border-width: 0 !important;
    margin: 0 !important;
}

.scfForm input, .scfForm select, .scfForm textarea {
    box-sizing: content-box !important;
}

.scfForm {
    font-family: "Helvetica Neue",Helvetica, Arial, sans-serif !important;
}

.scfSectionLegend {
    margin-left: 0px !important;
    padding: 7px 0px !important;
}


/*-----------------------------------------------------*/
/* resizes display of oversized images within CAPTCHA fields in webforms */
.scfCaptchaGeneralPanel td input {
    height:18px;
width:18px;
}
/*-----------------------------------------------------*/


/*-----------------------------------------------------
     MAKE YOUTUBE EMBEDS RESPONSIVE 
----------------------------------------------------- */

.youtubeEmbedContainer {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.youtubeEmbedContainer iframe, .youtubeEmbedContainer object, .youtubeEmbedContainer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}




/*-----------------------------------------------------
     RESPONSIVE  
----------------------------------------------------- */

@media (max-width: 979px) {
 body {
 padding: 0 !important;
 margin-top:50px;
 background-color: #FFF;
} 

.navbarSecondary {
/* makes secondary navbar go away on mobile. unfortunately there's no good way to mobilify it.*/
    display:none;
}

#smuContentWrapper {
 margin: 0 auto;
}

 .navbar ul.nav li.dropdown ul.dropdown-menu li:first-child a {
	/*  removes styling from first items in dropdown navs.
	the styling is to differentiate the first, or "home," dropdown item from other items in the nav
	but since only the first item displays in mobile view, special styling isn't needed here */
	font-size: 13px;
	font-weight: inherit;	
	text-transform: inherit;
	background-color: inherit;
}


 .nav-collapse .nav > li > a:hover,  .nav-collapse .dropdown-menu a:hover,  .navbar ul.nav li.dropdown ul.dropdown-menu li:first-child a:hover {
	 /*changes text and bg color of collapsible navigation menu hovers */
 background-color: #ECECEC;
 color: #333;
}


.navbar-fixed-top {
 margin-bottom: 0;
 position: static;
}

ul.dropdown-menu p {
	/*this hides any freeform text areas in mobile view*/
	display: none;	
}
 .masthead, .smuTopNav {
	 /* adds a little padding so the logo's not right up against the edge of the screen*/
 padding: 0 10px;
}
 .navbar .brand {
 color: #FFFFFF;
}

#titleWrapper img {
	display: none !important;	
}

 .dropdown-menu a, .dropdown a.dropdown-toggle {
	/*makes nav menu subitems disappear in collapsed nav in narrow viewports*/
display:none;
}
 .navbar ul.nav li.dropdown ul.dropdown-menu li:first-child a {
	/*determines what displays in the narrow-viewport "navigate" menu*/
	/*that menu will display 1) items without dropdown menus (children),
	 and 2) if an item has children, it displays only the first child in that menu */
display: inherit;
}

.mini-nav li.dropdown a {
	display: inherit;
	position:relative;
}

.nav-collapse {
	background-color: #F6F6F6;
	margin-left: -10px;
    margin-right: -10px;	
	margin-top: 10px;
	-webkit-box-shadow: inset 0px 10px 15px -10px #AAA;
     box-shadow: inset 0px 10px 15px -10px #AAA;
}

.nav-collapse .dropdown-menu {
	/* left-aligns all visible menu items in the collapsible mobile nav, no matter if they're single items or dropdown menu items*/
	margin: 0 0;	
}

.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	/* styles the collapsible mobile nav menu items*/
	font-weight: normal;
	color: #333;	
	padding: 5px 10px;
	text-shadow: none;
}

.dropdown-menu.social li > a:hover, .dropdown-menu.social .active > a, .dropdown-menu.social .active > a:hover {
	/* styles the hover on social icons in mobile nav dropdown*/
    background-color: #FFF;
    color: #333;
	opacity: .5;
    text-decoration: none;
}

.nav-collapse .nav {
	/* styles the collapsible mobile nav menu items*/
	margin-top: 5px;	
	margin-left: 10px;
}

.navbar ul.nav li.dropdown ul.dropdown-menu.social li:first-child a {
		display: inline;
		padding: 3px 1px;
}

 .searchSocial, .smuSearch, .smuSocialMedia {
	 /* hides search and social media in favor of those items in the topnav */
 display:none !important;
}


.dropdown-menu.social, .dropdown-menu.search {
		padding: 5px;
}

.carousel-caption p {
	margin-right: 20px;
}	

}
 @media (max-width: 767px) {
	 
.navbar-fixed-top {
	/*prevents the page width from being a few pixels too wide and thus horizontally scrollable*/
    margin-right: 0px;
}

 .navbar-fixed-top {
 right: 0;
 left: 0;
 z-index: 1030;
 margin-bottom: 0;
margin-top:-30px;
 margin-left: 0;
}

/*the zone7 styles below make the footer collapsible into a centered/bulleted list format*/
 #smuFooter #logo {
 float: none;
 text-align: center;
 margin-bottom: 10px;
 display:none !important;
}
 #smuFooter #copyright {
 float: none;
 text-align: center;
}
#smuFooter #links {
 text-align: left;
}
#smuFooter #footerListRight {
 float: right;
 width: 50%;
}
 #smuFooter #links ul li {
 display: list-item;
}
body {
margin-top:80px;
}
.smuLogo img {
 margin: 0 auto;
}

#welcomeWrapper img {
	display: none;	
		
}

#welcomeMessage {
    background: #FFFFFF;
	top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow: visible;
    padding: 0;
    position: relative;
}
#welcomeMessage h3 {
	color: #333;
	text-shadow: none;
	font-size: 28px;
}

#welcomeMessage p {
    color: #333333;
    font-size: 22px;
    font-weight: normal;
	line-height: 130%;
}
#welcomeMessage a {
	color: #116FD6;
		text-decoration: none;
		font-weight: normal;
}

#welcomeMessage a:hover {
	color: #CC0035;
	text-decoration: underline;
}


}
 @media (max-width: 479px) {
 .well.wellRight {
	/* unfloats any well that's floated right. note there is no whitespace in this classname selector - it targets elements that have both classes applied - nifty! */
	float: none;
 width: inherit;
 margin: 0;
}

div.twoColumns {
	/* applies a dynamic two-column layout to any elements it surrounds.*/
	-moz-column-count: inherit;
	-webkit-column-count:  inherit;
	column-count:  inherit;

}



}







