// BS3 uses the panel-* classes for the collapse group (no longer called accordion)
// we'll extend the panel class and slightly tweak the style to our version

.accordion{
  @extend .panel-group;
}

.accordion-group{
  @extend .panel;
  @extend .panel-default;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0!important;
  > .accordion-heading{
    background-color: $white;
  }
}

.accordion-heading{
  @extend .panel-heading;
  border-radius: 0;
}

.accordion-inner{
  @extend .panel-body;
}

/* //////////////////////////////////////////////////////////////////////// */
    /* Accordion  +/- styles */
    /* //////////////////////////////////////////////////////////////////////// */
    .accordion .accordion-group {
    border: none;
    border-bottom: 1px solid #eee;
    }
    .accordion-heading {
    }
    .accordion .accordion-heading a.accordion-toggle {
    /*padding: 15px 20px;*/
    color: #333333;
    font-size: 16px;
    }
    .accordion .accordion-group + .accordion-group {
    margin-top: 0;
    }
    .accordion .accordion-group .accordion-toggle:hover, .accordion .accordion-group .accordion-toggle:active, .accordion .accordion-group .accordion-toggle:focus {
    text-decoration: none;
    }
    .accordion .accordion-group .accordion-toggle:hover span,  .accordion .accordion-group .accordion-toggle:hover strong {
    text-decoration: underline;
    }
    .accordion .accordion-group .accordion-toggle:before {
    font-size: 25px;
    }
    .accordion .accordion-group .accordion-toggle:not(.collapsed):before {
    content: "\f068 \00a0  \00a0";
    margin-right: 0px;
    font-family: "fontawesome";
    font-size: 14px;
    }
    .accordion .accordion-group .accordion-toggle.collapsed:before {
    content: "\f067 \00a0  \00a0";
    margin-right: 0px;
    font-family: "fontawesome";
    font-size: 14px;
    }
    .accordion .accordion-group > .accordion-heading:active, .accordion .accordion-group > .accordion-heading:focus, .accordion .accordion-group > .accordion-heading:hover {
    background-color: #eeeeee;
    }
    .accordion .accordion-inner {
    color: #777;
    }
