.thumbnails{
  li{
    list-style: none;
  }
}

.thumbnails{
  .thumbnail{
    border-width: 0;
    padding: 0;
    text-align: center;
    img{
      margin: 0;
      width: 100%!important;
    }
  }
}
