// carousel

#full-width-carousel{

	img{
		width: 100%;
	}
	.carousel-control{
		opacity: 1;
		background-image: none;
	}
	.fa{
		position: absolute;
	    top: 50%;
	    z-index: 5;
	    display: inline-block;
	    width: 20px;
	    height: 20px;
	    margin-top: -10px;
	    line-height: 1;

	}

}

.carousel-item{
	@extend .item;
}

.carousel-indicators{
	display: none;
}
