// the .row-fluid class has been deprecated so we'll
// upgrade them all to the standard BS3 .row class

.row-fluid{
  @extend .row;
}

// the .span* classes have been deprecated so
// upgrade them to behave as .col-md-*

// create a mixin to handle all elements using the .span*
// classes

@mixin convert-span-columns($i: 1) {
  @for $i from (1 + 1) through $grid-columns {

    .span#{$i}{
      @include make-sm-column($i);
    }

  }
}

// convert all the span classes

@include convert-span-columns();

// convert the fluid container into a fixed container

.container-fluid{
  @extend .container;
}

// reset the positioning of the
// fixed navbar to relative

#ctl8.navbar-fixed-top, #ctl8.navbar-fixed-top .navbar-fixed-top{
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  border-width: 0;
  border-radius: 0;
  z-index: auto;
  min-height: 0;
  margin: 0;
}

// remove the negative margins from the #smuHomeTop div so it can
// act as a full screen

.row-fluid#smuHomeTop{
  margin: 0;
}

// fix layout issue with controls that have a row within a row

.row-fluid{
  .row-fluid{
    margin: 0;
  }
}
