$dark-blue: #26367b;
$white: #FFFFFF;
$smu-blue: #354ca1;
$dark-gray: #404041;

$secondary-nav-bg: $dark-blue;
$secondary-nav-link-color: $white;

$masthead-bg-color: $smu-blue;

$header-primary-bg-color: $dark-gray;
$header-primary-link-color: $white;

$footer-primary-bg-color: #58595b;

// colors

$smu-red: #cc0035;

$smu-blue: #354ca1;

$dark-grey: #404041;

$white: #FFFFFF;

$secondary-nav-bg-color: #26367b;

$main-nav-bg-color: $dark-grey;

$main-nav-link-color: $white;

$department-name-color: $white;

$footer-bg-color: $dark-grey;

$footer-font-color: $white;

// make scss easier to read by giving selectors variable names

$masthead: '.smuFixedTop#ctl3';
$mobile-nav: '.mini-nav';
