@import 'bootstrap';

$dark-blue: #26367b;
$white: #FFFFFF;
$smu-blue: #354ca1;
$dark-gray: #404041;
$red: #cc0035;

$secondary-nav-bg: $dark-blue;
$secondary-nav-link-color: $white;

$masthead-bg-color: $smu-blue;

$header-primary-bg-color: $dark-gray;
$header-primary-link-color: $white;

$footer-primary-bg-color: #58595b;

// colors

$smu-red: #cc0035;

$smu-blue: #354ca1;

$dark-grey: #404041;

$white: #FFFFFF;

$secondary-nav-bg-color: #26367b;

$main-nav-bg-color: $dark-grey;

$main-nav-link-color: $red;

$department-name-color: $white;

$footer-bg-color: $dark-grey;

$footer-font-color: $white;

// make scss easier to read by giving selectors variable names

$masthead: '.smuFixedTop#ctl3';
$mobile-nav: '.mini-nav';

@import 'bs2-upgrade';
@import 'font-awesome/font-awesome.scss';


// components

@import "components/components";

// sub layouts

@import "sub-layouts/sub-layouts";

// widgets

@import "widgets/widgets";

// print

@import "print";

// misc

// not really sure where to place to set this. BS3 has no easy way to update this via SCSS

.lead {
  margin-bottom: 22px;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: 21;
  }
}

// admission styles

.header-secondary, .callToAction{
  display: none;
}

.smuFixedTop#ctl3{
  padding-top: 0;
}

#ctl9 .mini-nav{
  margin-top: 0;
}
