

// this site has more nav items so collapse the primary menu on medium size screens instead of tablet

@media screen and (max-width: 979px) {

  // hide the main navbar until the .in class is added to the element. This creates the collapse animation

  #ctl8{
    .nav-collapse{
      height: 0;
      overflow: hidden;
      &.in{
        height: auto;
        overflow: visible;
      }
    }
  }

  // since the main nav is collapsed we need to show the mobile nav at a larger screen size

  .mini-nav{
    display: block;
  }

}



/* CAPE specific styles */

.smuTopNav .nav li a {
    font-size: .75em;
}

@media screen and (min-width: 980px) and (max-width: 1199px) {
  .container, .container-fluid{
    width: 100%;
  }

  .nav-collapse{
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px;
      font-size: 11px;
    }
  }

  .nav-collapse{
    > .nav{
      .dropdown:last-child, .dropdown:nth-last-child(2){
        .dropdown-menu{
          left: auto;
          right: 0;
        }
      }
    }
  }
}


.sideBox{
  width: 300px;
  float: right;
  margin: 0 0 20px 20px;
  padding: 20px;
  font-weight: 300;
  line-height: 150%;
  color: #888;
  border: solid #dedede;
  border-width: 10px 1px;
  overflow: hidden;
}

.featuresTable{
  h3{
    margin: 5px 0;
  }
}

.featuresTable{
  tr:first-child td:first-child {
    background-color: transparent;
    border-top: none;
    line-height: 10px;
    color: #333;
    padding-top: 0;
  }
}

.featuresTable{
  tr:last-child {
    border-bottom: 1px solid #DDDDDD;
  }
}

.featuresTable tr td:first-child {
    background-color: #EDEDED;
    vertical-align: middle;
    color: #333;
    text-align: center;
    width: 25%;
    font-weight: 300;
    font-size: 16px;
}

#capeBlog{
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
}
