/* Engaged Learning specific styles */

$el-grey: #eeeeee;

body {
  font-size: 16px;
}

a:hover, a:focus {
  color: #cc0035;
  text-decoration: underline;
}

#main-nav{
  .menu .menu-item .menu-link {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 300;
    margin-right: 22px;
  }
}

#secondary-nav .menu .menu-item .menu-link {
  color: #ffffff;
  font-size: 12px;
}

#smuSideNav .nav > li > a {
  padding: 3px 15px;
  font-size: 14px;
}

#smuSideNav .nav-list li.nav-header {
  text-shadow: none;
}


h2.feed-title {
  color: #333333;
  border-bottom: 1px solid #cccccc;
  padding: 0 0 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1em;
}

.sectionDivider{
  padding: 0;
  height: 3px;
  background-color: $el-grey;
  color: #666666;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

#calendar {
  width: 300px;
  float: right;
  margin: 0 0 20px 20px;
}

.thumbnail{
  border-radius: 0;
}


table#events tr td:first-child {
  background-color: #F3F3F3;
  padding: 5px 10px;
  text-align: center;
  font-weight: bold;
  border-right: 1px solid #DDDDDD;
}

table#events tr td:last-child {
  width: 70%;
}


.feed-section-footer a {
  font-size: 16px;
  letter-spacing: 0;
}

.span4#ctl22 {
  position: relative;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ddd;
  background: #f3f3f3;
  font-size: .8em;
}

h2.feed-title {
  font-family: 'Crimson Text';
}

#footerEL {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333333;
}

#whyChooseEL h2 {
  color: #333333;
  font-weight: normal;
  text-align: center;
  font-family: 'Crimson Text';
  margin: 1px 0 20px;
  font-size: 24px;
}

.callout {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #ededed;
  text-align: center;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.callout img {
  margin-bottom: 10px;
}
.callout.quote {
  font-size: 30px;
  color: #999999;
  font-weight: 400;
  line-height: 1.4em;
  font-family: 'Crimson Text', sans-serif;
  font-style: italic;
}

.callout .stat {
  font-size: 5.5em;
  font-weight: bold;
  color: #CC0035;
  line-height: 1em;
  text-shadow: #ffffff 1px 1px 0px;
  font-family: 'Open  Sans', sans-serif;
}

.callout p {
  margin: 0;
}

.footer-primary{
  background-color: #DDDDDD;
  padding-bottom: 0;
}

.flex-row {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-content{

  background-color: #ededed;;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #ededed;
  text-align: center;
  font-size: 14px;
  line-height: 1.2em;
  margin: 10px;

  &.one-column{
    width: 100%;
  }

  &.one-half-column{
    width: 50%;
  }

  &.one-third-column{
    width: 33.3333%;
  }

}

@media screen and (max-width: 767px){

  .flex-row{
    display: block;
  }

  .flex-content{
    &.one-column, &.one-third-column, &.one-half-column{
      width: 100%;
    }
  }

}

.top-content{
  padding-top: 20px;
  margin-bottom: 30px;
}

.news-flash{

  border-top: 3px solid $el-grey;
  border-bottom: 3px solid $el-grey;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;

  p{
    margin: 0;
  }

  &:after{
    clear: both;
    content: " ";
    display: table;
  }

}


.span4#ctl22 {
  position: relative;
  min-height: 1px;
  padding: 20px;
  padding-top: 5px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

#carousel-wrapper {
  margin: 0 25px;
}

#carousel-wrapper .owl-controls{
  position: absolute;
  top: 50%;
  width: 100%;
}

#carousel-wrapper .owl-controls .owl-prev{
  margin-left: -25px;
  display: block;
  float: left;
}

#carousel-wrapper .owl-controls .owl-next{
  margin-right: -25px;
  display: block;
  float: right;
}

.owl-carousel h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.owl-carousel .owl-item p {
  margin-left: 15px;
  margin-right: 15px;
}
