@media print {

  // remove elements that take up page space

  .header-secondary, .search-form-wrapper, .footer-primary, .footer-secondary .col-sm-6.col-md-4:last-child{
    display: none!important;
  }

  // change bg color because printing that much blue ink would be wasteful

  .smuFixedTop#ctl3{
    background-color: #cccccc!important;
    padding-bottom: 0;
  }

  // hide url (/) for logo

  .logo{
    font-size: 0;
  }

  //

  .span9 > .row{
    div[class^="span"],
    div[class^="col-"]{
      width: 100%; 
    }
  }

}
