@import 'bootstrap';
@import "smuVariables";
@import 'bs2-upgrade';
@import 'font-awesome/font-awesome.scss';


// components

@import "components/components";

// sub layouts

@import "sub-layouts/sub-layouts";

// widgets

@import "widgets/widgets";

// print

@import "print";

// misc

// not really sure where to place to set this. BS3 has no easy way to update this via SCSS

.lead {
  margin-bottom: 22px;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;

  @media (min-width: $screen-sm-min) {
    font-size: 21;
  }
}
