#smuContentWrapper{
  padding-bottom: 25px;
}

// on xs screens we'll make the images full width for a better mobile display

@media screen and (max-width: $screen-xs-max) {
  #smuContentWrapper{
    img{
      width: 100%;
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}
